@model CHClinic.Models.Data.Complaint

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Complaint</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Person.OPDRegistrationID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Person.OPDRegistrationID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HistoryComplain)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HistoryComplain)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MatarnalSide)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MatarnalSide)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OwnSide)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OwnSide)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaternalSide)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaternalSide)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PastComplian)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PastComplian)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PresentComplain)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PresentComplain)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PersonId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
