@model CHClinic.Models.Data.Complaint

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Complaint</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Person.OPDRegistrationID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Person.OPDRegistrationID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HistoryComplaint)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HistoryComplaint)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MatarnalSide)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MatarnalSide)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OwnSide)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OwnSide)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaternalSide)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaternalSide)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PastComplian)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PastComplian)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PresentComplain)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PresentComplain)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <input type="hidden" name="returnUrl" value="@ViewBag.returnUrl" />
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @*@Html.ActionLink("Back to List", "Index")*@
            <a href="javascript: history.go(-1)">Go Back</a>

        </div>
    }
</div>
