@model CHClinic.Models.Data.Generalities

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Generalities</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Person.OPDRegistrationID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Person.OPDRegistrationID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Appatite)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Appatite)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Aversion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Aversion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Desire)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Desire)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Discharge)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Discharge)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Intolerance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Intolerance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mensutral)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mensutral)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mental)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mental)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Modalities)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Modalities)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Periperation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Periperation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Salavation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Salavation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sentation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sentation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sleep)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sleep)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Stool)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Stool)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Taste)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Taste)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tendencies)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tendencies)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThermalReaction)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThermalReaction)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Thirst)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Thirst)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Urine)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Urine)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
