@model IEnumerable<CHClinic.Models.Data.Generalities>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Person.OPDRegistrationID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Appatite)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Aversion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Desire)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Discharge)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Intolerance)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mensutral)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mental)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Modalities)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Periperation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Salavation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sentation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sleep)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Stool)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Taste)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tendencies)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ThermalReaction)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Thirst)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Urine)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Person.OPDRegistrationID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Appatite)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Aversion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Desire)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Discharge)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Intolerance)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Mensutral)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Mental)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Modalities)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Periperation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Salavation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sentation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sleep)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Stool)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Taste)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tendencies)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ThermalReaction)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Thirst)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Urine)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.GeneralitiesId }) |
            @Html.ActionLink("Details", "Details", new { id=item.GeneralitiesId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.GeneralitiesId })
        </td>
    </tr>
}

</table>
