@model CHClinic.Models.Views.DashBoardInfoData

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Dr. Shyam Manohar</h1>
    <p class="lead">Graduated from<a href="http://www.nih.nic.in/"> NIH Kolkata, WB</a>.  He has more then Seven years of exp in Medical field.</p>
    <p><a href="http://www.nih.nic.in/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>For Appointment</h2>
        <p>
            Kindly Click to book appointment with Dr. Shyam Manohar.
        </p>
        @if (Model.Appointments != null && Model.Appointments.Count > 0)
        {
            <div>
                <p class="text-primary"><b> List of Next Appointments</b></p>
                <table>
                    <tr>
                        <th>Date</th>
                        <th class="col-lg-6">Full Name</th>
                    </tr>
                    @foreach (var item in Model.Appointments)
                    {
                        <tr>
                            <td>
                                @Html.Label(item.Date.ToString("dd/MM/yyyy"))
                            </td>
                            <td class="col-lg-6 text-success">
                                @item.Person.FullName
                            </td>
                        </tr>
                    }
                </table>
            </div>
        }
        <p><a class="btn btn-default" href="http://www.nih.nic.in/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>List Of Patient</h2>
        <p>List of all Patient under Dr. Shyam Manohar.</p>
        <p><a class="btn btn-default" href="http://www.nih.nic.in/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Balance Sheet</h2>
        <p class="text-primary">Today Earning      <b>Rs. @Model.TodayEarning</b> .</p>
        <p class="text-success">This Month Earning <b>Rs. @Model.MonthlyEarning</b> .</p>
        <p class="text-danger">This Year Earning   <b>Rs. @Model.YearlyEarning</b> .</p>
        <p><a class="btn btn-default" href="http://www.nih.nic.in/">Learn more &raquo;</a></p>
    </div>
</div>