@model IEnumerable<CHClinic.Models.Data.PrescribedMed>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Visit.Problems)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MedicineName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Power)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NoOfTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Remarks)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Visit.Problems)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MedicineName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Power)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NoOfTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cost)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Remarks)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PrescribedMedId }) |
            @Html.ActionLink("Details", "Details", new { id=item.PrescribedMedId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PrescribedMedId })
        </td>
    </tr>
}

</table>
