@model CHClinic.Models.Data.PhyicalExamination

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PhyicalExamination</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Person.OPDRegistrationID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Person.OPDRegistrationID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Anemia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Anemia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Apperance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Apperance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Built)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Built)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Clubbing)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Clubbing)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cynosis)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cynosis)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Decubities)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Decubities)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Facies)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Facies)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Jaundance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Jaundance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LymphNode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LymphNode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Neck)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Neck)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nutri)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nutri)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Oedema)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Oedema)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pigmentation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pigmentation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pluse)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pluse)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReportDetails)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReportDetails)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Respiration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Respiration)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Temp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Temp)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PersonId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
